<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>django blog</title>
</head>
<body>
  <header><h1><a href="/"> my first blog post </a></h1></header>
  <time>published:1st jan 2021 1 am</time> 
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint porro eius quod facilis fuga enim doloribus nobis explicabo a esse non perferendis, maxime, incidunt magnam ipsa officia quam! Aliquam, nulla?</p> 
  <header><h1><a href=" ">my second blog post</a></h1></header>
  <time>published:1st feb 2021 1 am</time> 
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint porro eius quod facilis fuga enim doloribus nobis explicabo a esse non perferendis, maxime, incidunt magnam ipsa officia quam! Aliquam, nulla?</p> 


</body>
</html>